<!DOCTYPE html>
<html lang="en">
<head>
  <title>HandWash IoT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>

  <style>
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
<!--  background-color: #f1f1f1;-->
}
</style>

{#    <nav class="navbar navbar-default" data-spy="affix">#}
{#  <div class="container-fluid">#}
{#    <div class="navbar-header">#}
{#      <a class="navbar-brand" action="back">HandWash IoT</a>#}
{#    </div>#}
{#  </div>#}
{#</nav>#}
    <div class="container" >
      <div class="page-header">
        <h1><strong>HandWash IoT</strong></h1>
      </div>
    </div>
{#    <br><br><br><br>#}
</head>




{% block body %}{% endblock %}

<hr>
</html>



